# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
DerivedData/
*.moved-aside
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.superpowers/

# Build
build/
